In [2]:
# import dependencies
import os
import numpy as np
import pandas as pd
import scanpy as sc
import loompy as lp

In [3]:
adjacencies = pd.read_csv("analysis/pyscenic/pyscenic_adj.tsv", index_col=False, sep='\t')
adjacencies.head()

      TF target  importance
0  Rps10  Rps27  251.726666
1  Rps4x  Rps24  247.189784
2   Rpl6  Rps4x  240.954422
3  Rps4x  Rps27  233.694026
4  Rps4x  Rpl39  228.969329

In [4]:
import json
import zlib
import base64

# collect SCENIC AUCell output
lf = lp.connect("analysis/pyscenic/pyscenic_output.loom", mode='r+', validate=False )
auc_mtx = pd.DataFrame( lf.ca.RegulonsAUC, index=lf.ca.CellID)
lf.close()

In [5]:
import umap

# UMAP
runUmap = umap.UMAP(n_neighbors=10, min_dist=0.4, metric='correlation').fit_transform
dr_umap = runUmap(auc_mtx)
pd.DataFrame(dr_umap, columns=['X', 'Y'], index=auc_mtx.index).to_csv("analysis/pyscenic/scenic_umap.txt", sep='\t')

/Users/marianavasques/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

In [6]:
pd.DataFrame(dr_umap, columns=['X', 'Y'], index=auc_mtx.index).head()

                                   X         Y
D104T11_AAACCTGAGATATGCA-1 -1.191271  1.802329
D104T11_AAACCTGCAAACCCAT-1  2.442615 -2.690152
D104T11_AAACCTGCACAGAGGT-1  1.086845  5.011011
D104T11_AAACCTGCAGGTTTCA-1 -1.419685  0.804140
D104T11_AAACCTGCATCCCACT-1  3.519850 -2.059328